<section class="alt-about">
  <div class="left-wrap">
    <h3 id="about">About</h3>

    <span class="line"></span>

    <p class="bio">Ponds is a collaborative e-poetry space run by Tony Foley and Dylan Stratton. The programs are written in primarily JavaScript. Feel free to explore the various projects and create, create, create. </p>
  </div>

  <div class="center-wrap">

  </div>

  <div class="right-wrap">
    <p>the dark side of</p>
    <p>craters</p>
    <p>beyond the white curtain</p>
    <p>I could brag, I could boast, but I won't</p>
    <p>and with the photo posing in a sheen of sky</p>
    <p>blossom beauty all in time</p>
    <p>and mopped the floor; I have</p>
    <p>no</p>
    <p>aren't there any memories worth saving? Or are</p>
    <p>keep no record of her sins</p>
    <p>as I renounce</p>
    <p>all forms of undress</p>
  </div>

</section>
