<section class="alt-contact">
  <div class="left-wrap">
    <h3 id="contact">Contact</h3>

    <span class="line"></span>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor i</p>

    <a href="mailto:poetryponds@gmail.com">poetryponds@gmail.com</a>
  </div>

  <div class="center-wrap">

  </div>

  <div class="right-wrap">
    <p>the way</p>
    <p>I loved</p>
    <p>in eclipses</p>
    <p>mercy, please, if you please</p>
    <p>Modesty, unspoken - that is love.</p>
    <p>my eyes placing a pot from the photo</p>
    <p>allow the flower time to grow</p>
    <p>and I am near a dream.</p>
    <p>to the rainclouds, singing</p>
    <p>through the colder winds of January</p>
    <p>I wish you loved the seconds when we didn't fuck</p>
    <p>unless of course, the others were to come too</p>
    <p>One hundred years of rain</p>
  </div>
</section>
