<section class="alt-header">
  <header>
    <div class="left-wrap">
      <div class="logo-wrap">
        <div class="logo">
        </div>
      </div>

      <nav class="left-nav">
        <a href="#about">About</a>
      </nav>
    </div>

    <div class="center-wrap">
    </div>

    <div class="right-wrap">
      <nav class="right-nav">
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
  </header>
</section>
