<section class="alt-projects">
  <div class="left-wrap">
    <h3 id="projects">Projects</h3>

    <div class="project-wrap">

      <span class="line"></span>

      <div class="proj generator">
        <h4><span>Generator</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="../generator/poems.html">Explore</a>
      </div>

      <div class="proj growth">
        <h4><span>Growth</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="../growth/index.html">Explore</a>
      </div>

      <div class="proj tinder">
        <h4><span>Tinder</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="../tinder/index.html">Explore</a>
      </div>

    </div>
  </div>

  <div class="center-wrap">

  </div>

  <div class="right-wrap">
    <p>your hands</p>
    <p>on my face</p>
    <p>found</p>
    <p>time</p>
    <p>sometimes I count the ashes</p>
    <p>to quiet my waning dreams</p>
    <p>Modesty, unspoken - that is love.</p>
    <p>containing themselves, containing</p>
    <p>impatience will not chase the frost</p>
    <p>Once the rain has been shelved,</p>
    <p>singing just as horribly </p>
    <p>as we've come to know love.</p>
    <p>;</p>
    <p>and the people are essentially an ocean</p>
    <p>major scars reduced to minor</p>
    <p>thirsty</p>
    <p>for Jupiter</p>

  </div>
</section>
